{% extends 'base.html' %} {% block title %} Add User {% endblock %} {% block
content %}
<h1>Add New User</h1>
<form method="post">
  <label for="first_name"> First Name: </label>
  <input type="text" name="first_name" placeholder="Enter First Name" />
  <label for="last_name"> Last Name: </label>
  <input type="text" name="last_name" placeholder="Enter Last Name" />
  <label for="url">Image URL: </label>
  <input type="url" name="url" placeholder="Provide an image of this user" /></br>
  <button class="add" type="submit">Add</button>
</form>
{% endblock %}
