<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories = true) %} {% if
    messages %}
    <section class="flashes">
      {% for category, msg in messages %}
      <p class="{{ category }}">{{ msg }}</p>
      {% endfor %}
    </section>
    {% endif %} {% endwith %} {% block content %} {% endblock %}
  </body>
</html>
