{% extends 'base.html' %} {% block title %}Edit Tag{% endblock %} {% block content %}
<div>
  <h1>Edit a tag</h1>
  <form method="post">
    <div><label for="tag">Name:</label>
      <input type="text" name="tag" placeholder="Enter a name for the tag" /></div></br>
      <div>
        {% for post in posts %}
        <div>
          <input type="checkbox"
                  value="{{ post.id }}"
                  id="post_{{ post.id }}"
                  name="posts">
                  {% if post in tag.posts %}
                  checked
                  {% endif %}
          <label for="post_{{ post.id }}">
            {{ post.title }}
          </label>
        </div>
        {% endfor %}
      </div>
    <button class="cancel">
      <a class="link" href="/tags">Cancel</a>
    </button>
    <button class="add" type="submit">Add</button>
  </form>
</div>
{% endblock %}
